<div id="chatBody">
    <div id="frame">
        <div id="sidepanel">
            <div id="profile">
                <div class="wrap">
                    <img id="profile-img" src="./assets/profiles/coskun.jpg" class="online" alt="" />
                    <p>İhsan Buğra Coşkun</p>
                    <span class="setting-tray--right">
                        <a href=""><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></a>
                    </span>
                    <div id="status-options">
                        <ul>
                            <li id="status-online" class="active"><span class="status-circle"></span>
                                <p>Çevrimiçi</p>
                            </li>
                            <li id="status-away"><span class="status-circle"></span>
                                <p>Uzakta</p>
                            </li>
                            <li id="status-busy"><span class="status-circle"></span>
                                <p>Meşgul</p>
                            </li>
                            <li id="status-offline"><span class="status-circle"></span>
                                <p>Çevrimdışı</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="search">
                <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
                <input type="text" placeholder="Ara..." />
            </div>
            <div id="contacts">
                <ul>
                    <li class="contact">
                        <div class="wrap">
                            <span class="contact-status online"></span>
                            <img src="./assets/profiles/sapaz.jpg" alt="" style="  width:40px;
                            height:40px;
                            overflow: hidden;
                            border-radius: 50%;
                            object-fit: cover;" />
                            <div class="meta meta--onhover">
                                <p class="name">Can Sapaz</p>
                                <p class="preview">Last Message</p>
                            </div>
                        </div>
                    </li>
                    <hr>
                    <li class="contact active">
                        <div class="wrap">
                            <span class="contact-status busy"></span>
                            <img src="./assets/profiles/babir.jpg" alt="" />
                            <div class="meta meta--onhover">
                                <p class="name">Sedanur Babir</p>
                                <p class="preview">Last Message</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="bottom-bar">
                <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Kişi
                        Ekle</span></button>
                <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Ayarlar</span></button>
            </div>
        </div>
        <div class="content">
            <div class="contact-profile">
                <img src="./assets/profiles/babir.jpg" alt="" />
                <p>Sedanur Babir</p>
                <div class="social-media">
                    <i class="fa fa-refresh fa-lg" aria-hidden="true"></i>
                    <i class="fa fa-video-camera fa-lg" aria-hidden="true"></i>
                    <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
                </div>
            </div>
            <div class="messages">
                <ul>
                    <li class="sent">
                        <img src="./assets/profiles/coskun.jpg" alt="" />
                        <p>Ben bile emin olmadığım halde jüriyi sana inandırayım ki?!<span
                                class="time time-left text-muted small">13:21</span></p>
                    </li>
                    <li class="replies">
                        <img src="./assets/profiles/babir.jpg" alt="" />
                        <p>Duvara sırtını dayadığında, şu lanet şeyi kır.<span
                                class="time time-right text-muted small">13:21</span></p>
                    </li>
                    <li class="replies">
                        <img src="./assets/profiles/babir.jpg" alt="" />
                        <p>Bahaneler şampiyonluk kazandırmaz.<span class="time time-right text-muted small">13:21</span>
                        </p>
                    </li>
                    <li class="sent">
                        <img src="./assets/profiles/coskun.jpg" alt="" />
                        <p>Ah evet, bunu sana Michael Jordan mı söyledi?<span
                                class="time time-left text-muted small">13:21</span></p>
                    </li>
                    <li class="replies">
                        <img src="./assets/profiles/babir.jpg" alt="" />
                        <p>Hayır, ona ben söyledim.<span class="time time-right text-muted small">13:21</span></p>
                    </li>
                    <li class="replies">
                        <img src="./assets/profiles/babir.jpg" alt="" />
                        <p>Biri kafanıza silah dayadığında seçenekleriniz nelerdir?<span
                                class="time time-right text-muted small">13:21</span></p>
                    </li>
                    <li class="sent">
                        <img src="./assets/profiles/coskun.jpg" alt="" />
                        <p>Neden bahsediyorsun? Ya dediklerini yaparsın ya da seni vururlar.<span
                                class="time time-left text-muted small">13:21</span></p>
                    </li>
                    <li class="replies">
                        <img src="./assets/profiles/babir.jpg" alt="" />
                        <p>Yanlış. Silahı alırsın ya da daha büyüğünü çıkarırsın. Ya da onların blöfünü yaparsın. Veya
                            diğer yüz kırk altı şeyden herhangi birini yaparsınız.<span
                                class="time time-right text-muted small">13:21</span></p>
                    </li>
                </ul>
            </div>
            <div class="message-input">
                <div class="wrap">
                    <input type="text" placeholder="Mesaj Yaz..." />
                    <i class="fa fa-paperclip attachment" aria-hidden="true" ></i>
                    <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>