<div id="chatBody">
    <div id="frame">
        <div id="sidepanel">
            <div id="profile">
                <div class="wrap">
                    <img id="profile-img" src="./assets/profiles/coskun.jpg" class="online" alt="" />
                    <p>İhsan Buğra Coşkun</p>
                    <span class="setting-tray--right">
                        <a href=""><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></a>
                    </span>
                    <div id="status-options">
                        <ul>
                            <li id="status-online" class="active"><span class="status-circle"></span>
                                <p>Çevrimiçi</p>
                            </li>
                            <li id="status-away"><span class="status-circle"></span>
                                <p>Uzakta</p>
                            </li>
                            <li id="status-busy"><span class="status-circle"></span>
                                <p>Meşgul</p>
                            </li>
                            <li id="status-offline"><span class="status-circle"></span>
                                <p>Çevrimdışı</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="search">
                <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
                <input type="text" placeholder="Ara..." />
            </div>
            <div id="contacts">
                <ul>
                    <div *ngFor="let user of users">
                        <li class="{{'contact '+user.activeClass}}" (click)="selectUser(user)">
                            <div class="wrap">
                                <span class="contact-status online"></span>
                                <img src="{{'http://localhost:8081/avatar/'+user.name+'/44'}}" alt="" style="  width:40px;
                            height:40px;
                            overflow: hidden;
                            border-radius: 50%;
                            object-fit: cover;" />
                                <div class="meta meta--onhover">
                                    <p class="name">{{user.displayName}}</p>
                                    <p class="preview">{{user.lastMessage.message}}</p>
                                </div>
                            </div>
                        </li>
                        <hr>
                    </div>
                </ul>
            </div>
            <div id="bottom-bar">
                <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Kişi
                        Ekle</span></button>
                <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Ayarlar</span></button>
            </div>
        </div>
        <div class="content">
            <div class="contact-profile">
                <img src="{{'http://localhost:8081/avatar/'+selectedUser.name+'/44'}}" alt="" />
                <p>{{selectedUser.displayName}}</p>
                <div class="social-media">
                    <i class="fa fa-refresh fa-lg" aria-hidden="true"></i>
                    <i class="fa fa-video-camera fa-lg" aria-hidden="true"></i>
                    <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
                </div>
            </div>
            <div class="messages">
                <ul>
                    <div *ngFor="let message of messages">
                        <li *ngIf="message.messageType == 'comment'"
                            class="{{message.actorId === 'bugra.coskun' ? 'replies' : 'sent'}}">
                            <img src="{{'http://localhost:8081/avatar/'+message.actorId+'/44'}}" alt="" />
                            <p>{{message.message}}<span
                                    class="{{message.actorId === 'bugra.coskun' ? 'time time-right text-muted small': 'time time-left text-muted small'}}">{{timestampToDate(message.timestamp)}}</span>
                            </p>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="message-input">
                <div class="wrap">
                    <input type="text" placeholder="Mesaj Yaz..." />
                    <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                    <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>